* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background: #F2F0EE;
    color: #58595B;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 20px;
    height: 20px;
}

main {
    background: white;
    width: 85%;
    min-height: 85%;
    margin: 30px 0;
    border-radius: 20px;
    font-size: 12px;
}

.header {
    display: flex;
    gap: 10px;
    justify-content: end;
    padding: 20px 20px 0 0 ;
}

.hero__nav-item {
    font-weight: 450;
    font-size: 14px;
    opacity: 1;
    transform: translateY(1px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    text-decoration: none;
    color: inherit;
}

.hero__nav-item:hover {
    text-decoration: underline;
    text-decoration-color: #58595B;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    font-weight: 800;
    cursor: pointer;
    opacity: 1;
    transform: translateY(0);
}

.container {
    width: 100%;
    padding: 10px;
    margin: auto;
}

.title-content {
    width: 40%;
    padding-bottom: 20px;
}

.separator {
    border: #58595B solid 1px;
}

.desc-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.content-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-content-1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-img {
    width: 23%;
    height: 23%;
    object-fit: cover;
}

.text-content-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    gap: 12px;
}

.tech-container {
    padding-top: 35px;
}

.tech-title {
    padding-bottom: 5px;
}

.links-container {
    padding-top: 35px;
}

.links-title {
    padding-bottom: 10px;
}

.links-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 5px;
}

.links-item {
    display: flex;
    align-items: center;
    gap: 10px;
}


.links-desc {
    text-decoration: none;
    color:inherit;
}

.links-desc:hover {
    text-decoration: underline;
}

.btn-chevron {
    padding: 10px;
    border: none;
    background: inherit;
}

.btn-chevron:hover {
    cursor: pointer;
}

.btn-chevron:active {
    transform: scale(0.9);
}

.btn-icon {
    width: 40px;
}

.content-wrap {
    display: flex;
    align-items: center;
}

.project-number {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}


@media (max-width: 480px) {
    main {
        width: 93%;
    }

    p {
        font-size: 12px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 16px;
    }

    .content-wrap{
        width: 100%;
    }

    .container {
        padding: 0;
    }

    .title-content {
        width: 100%;
    }

    .content-group {
        flex-direction: column;
        width: 100%;
    }

    .text-content-1 {
        width: 100%;
        gap: 5px;
        padding-bottom: 20px;
    }

    .text-content-2 {
        width: 100%;
        gap: 5px;
    }

    .tech-container {
        padding-top: 30px;
    }

    .links-container {
        padding-top: 30px;  
    }

    .project-img {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .btn-chevron {
        padding: 0;
        width: 40px;
        padding-bottom: 120px;
        position: absolute;
    }

    .btn-icon {
        width: 25px
    }

    #prev-project {
        left: 10px;
    }

    #next-project {
        right: 10px;
    }

    .links-desc {
        font-size: 12px;
    }

    img {
        width: 25px;
    }
}