* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #F2F0EE;
    color: #58595B;
    font-family: "Roboto", sans-serif;
    display: flex;
}

main {
    background: white;
    width: 85%;
    border-radius: 20px;
    margin: 53px auto 0;
}

.header {
    display: flex;
    padding: 20px 30px 20px 0;
    gap: 10px;
    justify-content: end;
}

.hero__nav-item {
    font-weight: 450;
    font-size: 16px;
    opacity: 1;
    transform: translateY(1px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    text-decoration: none;
    color: inherit;
}

.hero__nav-item:hover {
    text-decoration: underline;
    text-decoration-color: #58595B;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    font-weight: 800;
    cursor: pointer;
    opacity: 1;
    transform: translateY(0);
}

.container {
    width: 90%;
    padding: 20px;
    margin: auto;
}

.title-content {
    padding-bottom: 40px;
    width: 40%;
}

.title {
    padding-bottom: 10px
}

.separator {
    border: #58595B solid 1px;
}

.desc-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.content-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-content-1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-img {
    width: 40%;
    height: 40%;
    object-fit: cover;
}

.text-content-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tech-container {
    padding-top: 50px;
}

.tech-title {
    padding-bottom: 5px;
}

.links-container {
    padding-top: 50px;
}

.links-title {
    padding-bottom: 10px;
}

.links-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 20px;
}

.links-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.links-desc {
    text-decoration: none;
    color:inherit;
}

.links-desc:hover {
    text-decoration: underline;
}