/* Hero */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #F2F0EE;
    color: #58595B;
    font-family: "Roboto", sans-serif;;
}

main {
    background: white;
    width: 85%;
    max-width: 1900px;
    border-radius: 20px;
    margin: 53px auto 0;
}

.hero {
    min-height: calc(100svh - 53px);
    padding: 40px;
}

.hero__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__menu {
    display: none;
}

.hero__icons {
    display: flex;
    gap: 10px;
}

.hero__nav {
    display: flex;
    gap: 10px;
}

.hero__nav-item {
    font-weight: 450;
    font-size: 16px;
    opacity: 1;
    transform: translateY(1px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    text-decoration: none;
    color: inherit;
}

.hero__nav-item:hover {
    text-decoration: underline;
    text-decoration-color: #58595B;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    font-weight: 800;
    cursor: pointer;
    opacity: 1;
    transform: translateY(0);
}

.hero__nav-item:active {
    transform: scale(0.8);
}

.hero__spacer {
    height: 15vh
}

.hero__content {
    display: flex;
    justify-content: space-around;
}

.hero__text-group {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero__main-title {
    width: 500px;
    font-size: 64px;
    font-weight: 800;
}

.hero__caption {
    font-size: 24px;
    font-weight: 800;
}

.hero__desc {
    width: 400px;
    font-size: 16px;
}

.hero__button {
    width: 110px;
    height: 110px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50%;
    border: solid #1A5ABA 10px;
    background: #0D3065;
    color: white;
}

.hero__button--mobile {
    display: none;
}

.hero__button:hover {
    cursor: pointer;
}

.hero__button:active {
    transform: scale(0.99);
}

.hero__img {
    border: solid #B7B7B740 1px;
    border-radius: 20px;
    line-height: 0;
    width: 420px;
    height: 510px;
    max-width: 100%;
}

.hero__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__container {
    height: 90%;
    width: 90%;
    border-radius: 20px;
    background: #F2F0EE;
    padding: 40px;
}

.about__media {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 40px;
}

.about__rows {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 10px;
}

.about__row{
    display: flex;
    gap: 10px;
}

.about__text-bold {
    font-weight: 500;
}

.about__content {
    padding-top: 40px;
}

.about__title {
    padding-bottom: 20px;
}

.about__text-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 90%;
    text-align: center;
}

.projects__title {
    padding-top: 10px;
    padding-bottom: 100px;
}

.projects__grid {
    display: grid;
    margin: 0 auto;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px
}

.projects__item {
    text-align: start;
    font-size: 12px;
    border-radius: 8px;
    background: #F2F0EE;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.5s ease;
}

.projects__item:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.projects__img {
    max-width: 100%;
    line-height: 0;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.projects__text {
    padding: 5px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.projects__desc {
    color: #aaaab1;
    font-weight: 500;
} 

.contact {
    height: calc(100svh - 53px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.contact__title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 40px;
    text-align: center;
}

.contact__desc {
    font-size: 12px;
}

.contact__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid #58595B 2px;
    border-radius: 3px;
    width: 90%; 
    height: 85%;
    max-height: 700px;
    display: flex;
}

.contact__form {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 40px;
    gap: 40px;
}

.contact__input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.contact__input {
    border: none;
    border-bottom: #58595B solid 1px;
    outline: none;
    color: #58595B;
    padding: 3px;
}

.contact__input-text-area {
    border: none;
    border: #58595B solid 1px;
    border-radius: 3px;
    outline: none;
    color: #58595B;
    padding: 3px;
}

#contactMessage {
    resize: none;
    min-height: 100px;
}

#contactBtn {
    margin: 0 auto;
    padding: 10px 25px;
    background: #0D3065;
    border: none;
    border-radius: 7px;
    color: white;
}

#contactBtn:hover {
    cursor: pointer;
    background-color: #083881;
}

#contactBtn:active {
    transform: scale(0.97);
}

.contact__info-content {
    height: 80%;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

.contact__text-container {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contact__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact__icons {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
    height: 53px;
    border-top: #58595B solid 1px;
    font-size: 12px;
}

.footer__link {
    text-decoration: none;
    color: inherit;
}

.footer__link:hover {
    text-decoration: underline;
}

/* tablet */
@media (max-width: 1024px) {
    /* ajustes */
}

/* mobile */
@media (max-width: 768px) {
    /* ajustes mais fortes */
}

/* mobile pequeno */
@media (max-width: 480px) {
    main {
        width: 93%;
    }

    h3 {
        font-size: 15px;
    }

    p {
        font-size: 12px;
    }

    label {
        font-size: 14px;
    }

    .hero {
        padding: 30px;
        position: relative 
    }
    
    .hero__header {
        justify-content: end;
    }
    
    .hero__menu {
        display: block;
    }

    .hero__menu-container {
        display: flex;
        background-color: rgba(88, 89, 91, 0.9);
        padding: 0 40px;
        color: white;
        font-weight: 500;
        position: absolute;
        top: 8%;
        right: 8%;
        min-height: 15%;
    }

    .hero__menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        list-style: none;
    }

    .hero__icons {
        display: none;
    }

    .hero__nav {
        display: none;
    }

    .hero__content {
        flex-direction: column;
        gap: 25px;
    }

    .hero__spacer {
         display: none
    }

    .hero__text-group {
        padding-top: 20px;
        gap: 20px;
        text-align: center;
    }

    .hero__main-title {
        width: 300px;
        font-size: 28px;
        font-weight: 800;
        margin: auto;
    }

    .hero__caption {
        font-size: 18px;    
    }

    .hero__img {
        width: 100%;
        height: auto;
        max-width: 350px;
        margin: auto;
    }

    .hero__button--mobile {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto;
        font-size: 12px;
        width: 90px;
        height: 90px;

    }

    .hero__button--desktop {
        display: none;
    }

    .hero__desc {
        max-width: 330px;
        font-size: 12px;
    }

    .about__media {
        flex-direction: column;
    }

    .about__img {
        display: none;
    }

    .about__rows {
        display: none;
    }

    .about__text-content {
        font-size: 12px;
    }

    .projects__grid {
        display: grid;
        margin: 0 auto;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        gap: 20px
    }

    .contact__desc {
        font-size: 10px;
    }

    .contact__container {
        flex-direction: column;
        margin-bottom: 10px;
        padding: 10px;
        /* padding-bottom: 10px; */
    }

    .contact__form {
        width: 100%;
        height: 60%;
        gap: 8px;
        padding: 10px 15px;
    }

    #contactMessage {
        min-height: 90px;
    }

    #contactBtn {
        padding: 8px 19px;
        font-size: 11px;
    }

    .contact__info-content {
        width: 100%;
        height: 40%;
    }

    .contact__text-container {
        gap: 8px;
    }

    .footer {
        font-size: 8px; 
    }

    .footer__desc {
        font-size: 8px;
    }
}