/* Hero */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F2F0EE;
    color: #58595B;
    font-family: "Roboto", sans-serif;;
}

main {
    background: white;
    width: 85%;
    border-radius: 20px;
    margin: 53px auto 0;
}

.hero {
    min-height: calc(100svh - 53px);
    padding: 40px;
}

.hero__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__icons {
    display: flex;
    gap: 10px;
}

.hero__nav {
    display: flex;
    gap: 10px;
}

.hero__nav-item {
    font-weight: 450;
    font-size: 20px;
    opacity: 1;
    transform: translateY(1px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.hero__nav-item:hover {
    text-decoration: underline;
    text-decoration-color: #58595B;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    font-weight: 800;
    cursor: pointer;
    opacity: 1;
    transform: translateY(0);
}

.hero__nav-item:active {
    transform: scale(0.8);
}


.hero__content {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.hero__text-group {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero__main-title {
    width: 500px;
    font-size: 64px;
    font-weight: 800;
}

.hero__caption {
    font-size: 24px;
    font-weight: 800;
}

.hero__desc {
    width: 300px;
    font-size: 16px;
}

.hero__button {
    width: 110px;
    height: 110px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50%;
    border: solid #1A5ABA 10px;
    background: #0D3065;
    color: white;
}

.hero__button:hover {
    cursor: pointer;
}

.hero__button:active {
    transform: scale(0.99);
}

.hero__img {
    border: solid #B7B7B740 1px;
    border-radius: 20px;
    line-height: 0;
}
