/* Hero */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #F2F0EE;
    color: #58595B;
    font-family: "Roboto", sans-serif;;
}

main {
    background: white;
    width: 85%;
    border-radius: 20px;
    margin: 53px auto 0;
}

.hero {
    min-height: calc(100svh - 53px);
    padding: 40px;
}

.hero__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__icons {
    display: flex;
    gap: 10px;
}

.hero__nav {
    display: flex;
    gap: 10px;
}

.hero__nav-item {
    font-weight: 450;
    font-size: 20px;
    opacity: 1;
    transform: translateY(1px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    text-decoration: none;
    color: inherit;
}

.hero__nav-item:hover {
    text-decoration: underline;
    text-decoration-color: #58595B;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    font-weight: 800;
    cursor: pointer;
    opacity: 1;
    transform: translateY(0);
}

.hero__nav-item:active {
    transform: scale(0.8);
}


.hero__content {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.hero__text-group {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero__main-title {
    width: 500px;
    font-size: 64px;
    font-weight: 800;
}

.hero__caption {
    font-size: 24px;
    font-weight: 800;
}

.hero__desc {
    width: 300px;
    font-size: 16px;
}

.hero__button {
    width: 110px;
    height: 110px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50%;
    border: solid #1A5ABA 10px;
    background: #0D3065;
    color: white;
}

.hero__button:hover {
    cursor: pointer;
}

.hero__button:active {
    transform: scale(0.99);
}

.hero__img {
    border: solid #B7B7B740 1px;
    border-radius: 20px;
    line-height: 0;
    width: 420px;
    height: 510px;
    max-width: 100%;
}

.hero__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__container {
    height: 90%;
    width: 90%;
    border-radius: 20px;
    background: #F2F0EE;
    padding: 40px;
}

.about__media {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 40px;
}

.about__rows {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
}

.about__row{
    display: flex;
    gap: 10px;
}

.about__text-bold {
    font-weight: 500;
}

.about__content {
    padding-top: 40px;
}

.about__title {
    padding-bottom: 20px;
}

.about__text-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}